// 定义文本内容区域样式

.content__default{
  margin: 0;

  .header-anchor{
    display: inline-block;
    color: #eee;
    text-decoration: none;
    margin-left: -1em;
    visibility: hidden;
  }
  .header-anchor:hover{
    color: #ddd;
  }

  >h1,
  >h2,
  >h3,
  >h4,
  >h5,
  >h6{
    margin-bottom: 16px;
  }
  >hr,
  >ul,
  >ol{
    margin-bottom: 16px;
  }

  table{
    border-collapse: collapse;
    margin: 16px 0;
    display: block;
    overflow-x: auto;
  }

  tbody tr{
    border-top: 1px solid #dfe2e5;
    &:nth-child(2n+1){
      background-color: #f6f8fa;
    }
  }

  tbody tr:first-child td{
    padding: 0;
    overflow: hidden;
    line-height: 1px;
    color: transparent;
  }

  th, td{
    border: 1px solid #dfe2e5;
    padding: .6em 1em;
  }

  img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
  }

  a img + span{
    position: absolute;
    right: 18px;
    margin-top: -24px;
    background-color: rgba(255,255,255,0.5);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
  }

  a img + span .icon.outbound{
    color: #333;
    top: -2px;
  }

  a img + span .sr-only{
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .content__default{
    margin: 0 12px;

    a img + span{
      right: 28px;
    }
  }
}
